


<blockquote class="h1 blockquote text-center text-white">
  <div class="h1 text-white" id="div1">"You miss all the shots you don't take"</div>
<div class="h4 text-white" id="div2">-Wayne Gretzky</div>
<div class="h6 text-white" id="div3">-Michael Scott</div>
</blockquote>