body {
  background-image: url("/images/bellion2.jpg");
  background-size: 50%;
  background-position: center;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
img {
  position: relative;
  top: -45px;
  left: 10px;
}

a {
  color: #00B7FF;
}

#div1 {
  display: none;
}

#div2{
  display: none;
}

#div3 {
  display: none;
}

